.popupDiv {
  background-color: rgba(175, 196, 124, 0.566);
  height: 25vh;
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.p6 {
  color: #313131;
  font-weight: bold;
  font-family: Roboto;
}
.popupDiv1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}
.button7 {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-color: #475569;
  height: 35px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #475569;
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto;
  cursor: pointer;
}
.button8 {
  background-color: blue;
  height: 35px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 0px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto;
  cursor: pointer;
}
