.add_btn{
    text-align: right;
}

.container{
    overflow: auto;
    background-color:  #E0F2F1;
    
}
.contain{
    margin-top: 20px;
    margin-bottom: 10px;
}
.center{
    text-align: left;
    font-size: 20px;
    font-family: "roboto";
    font-weight: bold;
    
}

.left_view h3{
    font-size: 21px;
}

.left_view p{
    font-weight: 600;
}

.left_view span{
    font-weight: 400;
}

.right_view p{
    font-weight: 600;
}


.right_view span{
    font-weight: 400;
}