@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");





/* ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
} */
/* 
.active {
  color: rgb(255, 0, 0);
} */

.welcome_msg_pg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 40px
}

.main_sec_p {
  /* width: 80vw; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.ts_date {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans Regular";
}

.ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px;
}

.ts_head .ts_col {
  border: 9px solid #dddddd31;
  text-align: left;
  padding: 8px;
}

th {
  border: 9px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgba(167, 162, 162, 0.909);
}

td {
  border: 9px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.add_button {
    text-align: center;
    margin-bottom: 20px;
}

.button_style_p {
    border-radius: 5px;
    border-width: 0px;
    background-color: #0751f3;
    color: white;
    /* padding-right: 18px; */
    /* margin-left: 500px; */
    /* padding: 5px 10px 5px 10px; */
}

.button_style_p_m {
  border-radius: 5px;
  border-width: 0px;
  background-color: #0751f3;
  color: white;
  margin-left: 12px ;
  /* padding-right: 18px; */
  /* margin-left: 500px; */
  /* padding: 5px 10px 5px 10px; */
}



.success_msg {
  color: rgb(0, 247, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.failure_msg {
  color: rgb(247, 0, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.validation_error {
  color: red;
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}




